//- Subscribe
section#subscribe
	.row.center-xs
		.col-xs-12
			#correct
				form(ng-submit="sending()" novalidate="false" ng-controller="sub")
					.message.is-success.catch(ng-show="sub_show_me")
						.message-body
							p Congratulations, you have subscribed to our newsletter list.
					h2.title Subscribe to receive updates
					input.input(ng-model="subscriber.email" type="email" placeholder="Enter email here") 
					button.button.is-primary.sub Subscribe
//- FOOTER SECTION
footer#footer
	.container
		#wrong
			.row.center-xs
				.col-xs-12.col-sm-3.col-md-3.not-center
					h1 Contact 
					br
					div
						i.fa.fa-globe
						span &nbsp +2349053133682
					div
						i.fa.fa-envelope
						span &nbsp c.david20@binghamuni.edu.ng
					div
						i.fa.fa-map
						span &nbsp Bingham University Karu
				.col-xs-12.col-sm-3.col-md-3.not-center
					h1 Brief Info 
					br
					p.
						Microworlds is a web design and web development company. 
				.col-xs-12.col-sm-3.col-md-3.not-center
					h1 Developer 
					br
					p Caleb David 
					br
					img(src="/img/dev.jpg")
				.col-xs-12.col-sm-3.col-md-3.not-center
					h1 Social
					br
					div
						i.fa.fa-facebook
						a(href="https://www.facebook.com/micronetworld") &nbsp Facebook
					div
						i.fa.fa-linkedin
						a(href="https://www.linkedin.com/in/caleb-david-923108143") &nbsp LinkedIn 


section#copyright
	.container
			.row.center-xs
				.col-xs-12.col-sm-12.col-md-12
					p Copyright &copy 2017

script(src="/js/angular.min.js") 
script(src="/js/subscribers.js")