include partials/header.jade


//- OVERVIEW
section#about
	.container
		.row.center-xs
			h1.title ABOUT
		
		//- Services List
		.row.center-xs
			.col-xs-12.col-sm-6.col-md-6
					img(src='/img/about.jpg')
			.col-xs-12.col-sm-6.col-md-6
				p.title.not-center.
					Microworlds is a web design and web development company. We make websites and web applications for personal and enterprises purposes as well at affordable and negotiable prices.








include partials/footer.jade