include partials/header.jade

//- OVERVIEW
section#contact
	.container
		.box.shadow-me
			.row.center-xs
				h1.title CONTACT
			.row.center.xs
				.col-xs-10.col-sm-10.col-md-10.make-me-center
					form(ng-submit="send()" novalidate="false" ng-controller="con")
						.message.is-success(ng-show="con_show_me")
							.message-body
								p We have received your message, we will get back to you shortly
						label.label Name 
						input.input(ng-model="contact.name" type="text" required placeholder="Enter your name here please") 
						br
						br
						label.label Email Address 
						input.input(ng-model="contact.email" type="email" required placeholder="Enter your  email here please")
						br
						br 
						label.label Message
						textarea.textarea(ng-model="contact.message" placeholder="Enter your message here please")
						br
						button.button.is-success Send
								
				
include partials/footer.jade