//- Subscribe
section#subscribe
	.row.center-xs
		.col-xs-12
			#correct
				form
					h2.title Subscribe to receive updates
					input.input(type="text" placeholder="Enter email here") 
					button.button.is-primary.sub Subscribe
//- FOOTER SECTION
footer#footer
	.container
		#wrong
			.row.center-xs
				.col-xs-12.col-sm-4.col-md-4.not-center
					h1 Contact Section
					br
					div
						i.fa.fa-globe
						span &nbsp +2349053133682
					div
						i.fa.fa-envelope
						span &nbsp c.david20@binghamuni.edu.ng
					div
						i.fa.fa-map
						span &nbsp Bingham University Karu
				.col-xs-12.col-sm-4.col-md-4.not-center
					h1 Brief Info 
					br
					p.
						Microworlds is a web design and web development company. We make websites and web applications for personal and enterprises as well at affordable and negotiable price. 
				.col-xs-12.col-sm-4.col-md-4.not-center
					h1 Social
					br
					div
						i.fa.fa-facebook
						a(href="#0") &nbsp Facebook
					div
						i.fa.fa-linkedin
						a(href="#0") &nbsp LinkedIn 
					div
						i.fa.fa-google-plus
						a(href="#0") &nbsp Google Plus 
section#copyright
	.container
			.row.center-xs
				.col-xs-12.col-sm-12.col-md-12
					p Copyright &copy 2017