include partials/header.jade
//- HERO UNIT
section#hero
	.overlay
		.container
			.row.center-xs
				.col-xs-12.col-sm-4.col-md-4
					h1.title Welcome to Microworlds
					p.subtitle A junior software developer
					a(href="https://github.com/microworlds") See me on github

//- OVERVIEW
section#skills
	.container
		.row.center-xs
			h1.title SKILLS & TECHNOLOGIES
		
		//- Row one 
		.row.center-xs
			.col-xs-12.col-sm-4.col-md-4
				h2 HTML5
				i.fa.fa-html5
				p HTML5 has changed how the web behaves and I am fortunate enough to be part of this buzz. I have a basic knowlege of how it works
			.col-xs-12.col-sm-4.col-md-4
				h2 CSS3
				i.fa.fa-css3
				p CSS3 works 'hand-in-a-glove' with HTML5, making it possible to render cool and semantic UIs. I find CSS3 very intersting too
			.col-xs-12.col-sm-4.col-md-4
				h2 JAVASCRIPT
				i.fa.fa-flash
				p JavaScript is the mother of the web. It gives you the power to dynamically interact with the DOM, and many more web APIs. I speak Javascript also


		br
		br
		//- Row two
		.row.center-xs
			.col-xs-12.col-sm-4.col-md-4
				h2 NODEJS 
				i.fa.fa-globe
				p Building server side web, mobile and desktop applications has become fun with Nodejs. It's another technology I enjoy working with
			.col-xs-12.col-sm-4.col-md-4
				h2 MONGODB
				i.fa.fa-leaf
				p MongoDB is a NoSQL database that gives you the power to store your record in BSON format, making it really flexible to work with, I speak it too
			.col-xs-12.col-sm-4.col-md-4
				h2 GIT
				i.fa.fa-git
				p Git helps you to manage software versions and collaborate with teams of developers. I use git as my primary version control system
section#portfolio
	.container
		.row.center-xs
			.col-xs-12
				h1.title RECENT WORK
		.row.center-xs
			.col-xs-12.col-sm-4.col-lg-4
				.card-box
					.wrapper
						.parent 
							.child-1
					.inside
						br
						a(href="http://micro-chat-app.herokuapp.com") Micro Chat App
						p A simple conference group chat application
			.col-xs-12.col-sm-4.col-lg-4
				.card-box
					.wrapper
						.parent 
							.child-2
					.inside
						br
						a(href="http://iconiccompanies.herokuapp.com") Iconic Companies
						p A new start up multi-products company 
			.col-xs-12.col-sm-4.col-lg-4
				.card-box
					.wrapper
						.parent 
							.child-3
					.inside
						br
						a(href="https://github.com/microworlds/node-world") Patients Record System
						p A simple system that can be used in hospitals to manage patients' records 
		br
		.row.center-xs
			.col-xs-12.col-sm-4.col-lg-4
				.card-box
					.wrapper
						.parent 
							.child-4
					.inside
						br
						a(href="https://github.com/microworlds/dice-roller") Dice Roller
						p A dummy digital dice roller android app. If you play Ludo game and your dices gets missing, you can use this app 
						br
						br
						a#diceroller(href="/app/Dice Roller.apk" download) Download 
						br 
						br
			.col-xs-12.col-sm-4.col-lg-4 
			.col-xs-12.col-sm-4.col-lg-4
br
include partials/footer.jade
