include partials/header.jade


//- OVERVIEW
section#services
	.container
		.row.center-xs
			h1.title SERVICES
		
		//- Services List
		.row.center-xs
			.col-xs-12.col-sm-6.col-md-6
					img(src='/img/services.jpg')
			.col-xs-12.col-sm-6.col-md-6
				ul
					li
						i.fa.fa-check-square-o 
						span.title &nbsp Web Design 
					li
						i.fa.fa-check-square-o 
						span.title &nbsp Web Development
					li
						i.fa.fa-check-square-o 
						span.title &nbsp Site Maintainance 
					li
						i.fa.fa-check-square-o 
						span.title &nbsp Free Support

				









include partials/footer.jade